/.idea/*
/docs/_build/*
/docs/doxygen/*
/docs/_ext/__pycache__
/.ipynb_checkpoints
*.pyc
*/dask-worker-space
/build
/dist
/pyCHM/__pycache__/*
/debugging/*
/venv*
/testing/*
/spack-deploy
*.egg-info*
/.spack-env/*
/._view-pychm/*
*.egg-info*
.idea